/* Reset y estilos globales */
body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    color: #ffffff;
    background-color: #000000;
    background-image: url(https://wallpapershome.com/images/wallpapers/macos-big-sur-1280x720-dark-wwdc-2020-22655.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 10px;
    transition: all 0.3s ease;
}

nav a.active, nav a:hover {
    color: #ffffff;
}

.dashboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 30px;
}

.card {
    background-color: rgba(255, 255, 255, 0.1);
    color: #ffffff;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.hero {
    text-align: center;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.cta-button {
    display: inline-block;
    padding: 12px 24px;
    font-size: 1.2rem;
    text-decoration: none;
    color: #ffffff;
    background-color: #a530ff;
    border-radius: 30px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #9d1fff;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid rgba(255, 255, 255, 0.3);
}

th, td {
    padding: 10px;
    text-align: left;
}

.glassmorphism {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.glassmorphism:hover {
    background: rgba(255, 255, 255, 0.2);
}

/* Animaciones */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.card {
    animation: fadeInUp 0.5s ease forwards;
}

.video-bg {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    
    video {
     width: 100%;
     height: 100%;
     object-fit: cover;
    }
   }
   
.glassmorphism-card {
    position: absolute;
    top: 10%;
    left: 30%;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 12px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
    max-width: 600px;
    overflow: hidden;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

h2 {
    color: #fff;
    text-align: center;
    margin-bottom: 10px;
}